@use '../../styles/App.theme.scss' as theme;
.animeVideo {
    margin-bottom: 10px;

    .animeContent {
        div {
            width: 100%;
            height: 100%;

            video {
                box-shadow: theme.$boxshadow;
                border-radius: 15px;
            }
        }
    }
}

.animeVideoBody {
    width: 100% !important;
    height: 100% !important;
}