@use '../../styles/App.theme.scss' as theme;
.animeVideo {
    margin-bottom: 10px;

    .animeContent {
        transition: 1s;
        width: 100%;
        min-width: 100%;
        min-height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        // box-shadow: $boxshadow;
        // background-color: rgb(34, 34, 34);
        border-radius: 15px;

        .Loader {
            body {
                width: fit-content !important;
            }
        }
    }
}
.setWidth {
    width: fit-content !important;
}

.animeVideoBody {
    width: 100% !important;
    height: 100% !important;
}