@media screen and (max-width: 1300px) {
    #Background {
        .body {
            width: 90% !important;;
            margin: 0 5% !important;;

            .bodyCopy {
                h1 {
                    font-size: 32pt !important;;
                }

                h3 {
                    margin-top: 10px !important;;
                    font-size: 18pt !important;;
                }

                .button {
                    padding: 7px 20px !important;;
                    font-size: 14pt !important;;
                }
            }
        }
    }

    .layout {
        display: block;
        width: 96% !important;
        margin: auto !important;;

        .Cards {
            width: 100% !important;;
            display: grid !important;;
            grid-template-columns: repeat(5, 1fr) !important;
            grid-auto-rows: auto !important;
            grid-gap: 10px !important;;
            margin: auto !important;;

            .Card {
                min-width: 160px !important;
                width: 100% !important;
            }
        }
    }

    .Navbar {
        .searchHelper {
            &.active {
                height: 500px !important;
            }
        }
    }

    .Anime {
        .AnimeContent {
            display: block !important;

            .leftSection {
                .animePlayer {
                    .description {
                        h2 {
                            font-size: 15pt !important;
                        }

                        .genres {
                            a {
                                font-size: 11pt !important;
                            }
                        }
                    }
                }
            }

            .rightSection {
                margin-left: 0 !important;
                margin-top: 15px;
                width: 100% !important;
                max-width: unset !important;

                .body {
                    display: flex !important;
                    width: 100%;
                    .detail {
                        margin-right: 15px !important;;
                        min-width: 280px !important;;
                    }

                    .recommendation {
                        margin-top: 0 !important;
                        margin-left: 15px !important;
                        width: 100% !important;
                        .animes {
                            grid-template-columns: repeat((3, 1fr)) !important;
                        }
                    }
                }

                h1 {
                    font-size: 16pt !important;;
                    margin-top: 10px !important;;
                }
            }
        }
    }
}

@media screen and (max-width: 920px) {
    .layout {
        .Cards {
            grid-template-columns: repeat(3, 1fr) !important;
        }
    }

    #History {
        .historyBody {
            display: grid !important;;
            grid-template-columns: repeat(1, 1fr) !important;
        }
    }

    .Anime {
        .AnimeContent {
            .rightSection {
                .body {
                    display: block !important;

                    .detail {
                        margin-right: 0 !important;
                        margin-bottom: 15px !important;;
                    }

                    .recommendation {
                        margin-left: 0 !important;
                        .animes {
                            grid-template-columns: repeat((3, 1fr)) !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .layout {
        .Cards {
            grid-template-columns: repeat(2, 1fr) !important;
        }
    }

    .AnimeDetails {
        .body {
            .description {
                display: block !important;

                .left {
                    width: 100% !important;

                    .image {
                        height: 300px !important;
                        background-position: center !important;
                    }
                }

                .right {
                    margin-top: 30px !important;
                    width: 100% !important;
                    padding: 0 !important;
                }
            }
        }
    }

    .sideHistory {
        width: calc(100% - 20px) !important;
    }

    .Navbar {
        .tools {
            .history {
                margin-right: 20px !important;
                img{
                    width: 43px !important;
                }
            }
            .search{
                width: 0px !important;
                margin-right: 10px !important;
                background-color: transparent !important;
                transition: .3s;
                &.active{
                    width: 50% !important;
                    // max-width: 3;
                    background-color: rgba(255, 255, 255, 0.2) !important;
                    .searchIcon{
                        padding-right: 5px !important;
                    }
                }
                .searchIcon{
                    margin-left: 0 !important;
                    transition: .5s !important;;
                    img{
                        width: 33px !important;;
                    }
                }
            }
        }
    }

    .Anime {
        .AnimeContent {
            .rightSection {
                .body {
                    .recommendation {
                        .animes {
                            grid-template-columns: repeat((2, 1fr)) !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .layout {
        .Cards {
            grid-template-columns: repeat(1, 1fr) !important;
        }
    }

    .Anime {
        .AnimeContent {
            .rightSection {
                .body {
                    .recommendation {
                        .animes {
                            grid-template-columns: repeat((1, 1fr)) !important;
                        }
                    }
                }
            }
        }
    }
}