$lightgrey: rgb(162, 162, 162);
$lightgreydarker: rgb(117, 117, 117);
$boxshadow: 0px 0px 5px 5px rgba(213, 213, 213, 0.05);
$boxshadowdarker: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
$lightblue: rgb(53, 164, 255);
$lightbluedarker: rgb(0, 105, 192);
$selected: rgb(229, 0, 210);
$backgroundColor: #202124;