@use './App.theme.scss' as theme;



.layout {
    width: 1250px;
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;

    h1 {
        width: fit-content;
        width: 100%;
        font-size: 25pt;
        margin-top: 100px;
        color: white;
    }
}


.strip {
    font-size: 23pt !important;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    margin-top: 15px;

    &::after {
        display: block;
        position: relative;
        content: '';
        height: 2px;
        margin-left: 10px;
        width: 100%;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.2);
        top: 1px;
    }
}

.pager {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;

    .sub {
        display: flex;
        align-items: center;

        span {
            font-size: 14pt;
            background-color: theme.$lightblue;
            cursor: pointer;
            margin-right: 10px;
            padding: 3px 15px;
            border-radius: 20px;
            font-weight: 700;
            color: white;
            transition: .3s;

            &.active {
                background-color: theme.$selected;

                &:hover {
                    background-color: theme.$selected;
                }
            }

            &:hover {
                background-color: theme.$lightbluedarker;
            }
        }
    }
}