@use '../../styles/App.theme.scss' as theme;
.Card {
    margin: 0.5%;
    // float: left;
    height: 300px;
    width: auto;
    min-width: 200px;
    background-size: cover;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: theme.$boxshadow;
    background-repeat: no-repeat;
    transition: .3s;

    .animeContent {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(112, 112, 112, 0.1) 60%, rgba(255, 255, 255, 0) 100%);
        ;

        h1 {
            padding: 15px 10px;
            margin: 0;
            color: white;
            text-align: left;
            font-size: 15pt;
        }
    }

    &:hover {
        transform: translateY(-0.8%);
        box-shadow: 0px 5px 15px 0px rgba(255, 255, 255, 0.3);
    }
}