@use '../../styles/App.theme.scss' as theme;

.pignator {
    display: flex;
    align-items: center;
    background-color: theme.$lightblue;
    box-shadow: theme.$boxshadow;
    border-radius: 30px;

    .minus,
    .add {
        background-color: theme.$lightblue;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;

        svg {
            width: 20px;
            height: 20px;
        }

        &:hover {
            background-color: theme.$lightbluedarker;
        }
    }

    .pageNum {
        font-size: 20pt;
        margin: 0 20px;
        color: white;
        font-weight: 700;
    }
}